<p id="notice"><%= notice %></p>

<h1>Daily</h1>

<%= link_to 'New Post', new_post_path %>

<div>
  <% @posts.each do |post| %>
    <div>
      <%= image_tag(post.picture_url, width: '100%') if post.picture.present? %>
      <%= post.description %>
      <div>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>



