<div class="d-flex justify-content-end">
<%= button_to 'Edit', edit_post_path(@post), class: "btn btn-link text-dark" %> 
<%= button_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link text-dark" %> 
<%= button_to 'Back', posts_path, class: "btn btn-link text-dark" %>
</div>
<div>
  <div class="mb-2">
    <%= image_tag(@post.picture_url, width: '100%') if @post.picture.present? %>
  </div>
  <div>
    <p><%= @post.description %></p>
  </div>
</div>


